data/22_pos6_angle0_e26_ch32/22_pos6_angle0_e26_ch32.bin_0002
data/
runs/
src/read
RootRunlist
.vscode/
threadcounter.txt
src/mergeROOTFiles
mergeROOTFiles
RootRunlist.txt
config.txt
save/
redis-stable/
redis-stable.tar.gz
dump.rdb
